<div th:fragment="buscar">
    <div class="row-2 ">
                    
        <form th:action="@{/list}" class="form-inline " method="POST">

            <label >Buscar Rubro</label>
                <div class="input-group ">
                    <input type="text" class="form-control" id="BuscarRubro"  placeholder="Buscar rubro" th:name="rubro">
                    <button type="submit" class="btn btn-primary  ">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                
            </form>
        <br>
        <a class="btn btn-secondary" th:href="@{/}">Quitar filtros</a>
    </div>
</div>