<div th:fragment="buscar">
    <div class="row-2 ">
                    
        <form class="form-inline ">

            <label >Buscar Rubro</label>
                <div class="input-group col-7">
                    <input type="text" class="form-control" id="BuscarRubro"  placeholder="Buscar rubro">
                    <button type="submit" class="btn btn-primary  ">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                
            </form>
        <br>
        <button class="btn btn-secondary">Quitar filtros</button>
    </div>
</div>