<table th:fragment="Table"  class="table">
    <tbody>
    <tr>
    <td>Nombre</td>
    <td>Codigo pyme</td>
    <td>Email</td>
    <td>Telefono</td>
    <td>Rubro</td>
    <td>Comuna</td>
    <td>Descripción</td>
    <td>Eliminar</td>
    </tr>

    <!-- 
        Modificar variables para ajustarse al controller

        •la ultima columna esta destinada al boton eliminar, para eliminar esa pyme

     -->

    <tr th:each="pyme:${pymes}">
        <td th:text="${id}"></td>
        <td th:text="${nombre}"></td>
        <td th:text="${rubro}"></td>
        <td th:text="${email}"></td>
        <td th:text="${fono}"></td>
        <td th:text="${coomunaDelivery}"></td>
        <td th:text="${descripcion}"></td>
        <button type="button" class="btn btn-danger">Eliminar</button>
    </tr>

    </tbody>
    </table>